<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <u></u>
    <div width="100%" bgcolor="#eeeeee" style="margin:0">
        <div style="width:100%;background:#eeeeee">

            <div style="max-width:600px;margin:auto">
                <div
                    style="max-width: 600px; margin: 0 auto; text-align: center; font-weight: bold; font-size: 20px; color: #555555; padding: 20px 0;">
                    Invited you to take up an assessment.

                </div>

                <div role="presentation" border="0" style="max-width:600px;background:white">
                    <div>
                        <div>
                            <div>
                                <div role="presentation" border="0">
                                    <div>
                                        <div
                                            style="padding:30px;font-family:sans-serif;font-size:15px;line-height:20px;color:#555555">
                                            <div
                                                style="color:transparent;display:none;font-size:1px;height:0;max-height:0;max-width:0;opacity:0;overflow:hidden;width:0">
                                               
                                            </div>

                                            <p>
                                            </p>
                                            <p
                                                style="text-align:center;font-size:24px;font-weight:bold;line-height:28px">
                                                You can start the assessment by clicking here:
                                            </p>
                                            <div style="text-align: center; margin: auto;">
                                                <a href="{{ exam_access_link }}"
                                                    style="display: inline-block; background-color: #10b13b; color: #ffffff; padding: 12px 24px; border: none; border-radius: 3px; text-align: center; text-decoration: none; font-family: sans-serif; font-size: 18px; font-weight: bold; cursor: pointer;"
                                                    target="_blank" rel="noopener">Start Assessment</a>

                                            </div>

                                            <p
                                                style="text-align:center;font-size:16px;line-height:24px;font-weight:bold;margin-top:40px">

                                            </p>
                                            <p></p>
                                            <p></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div
                style="max-width: 680px; margin: 0 auto; text-align: center; font-size: 12px; font-family: sans-serif; line-height: 18px; color: #888888; padding: 30px 10px;">

            </div>

        </div>
    </div>

    </div>
</head>

<body>

</body>

</html>